#default_language_version:
#  python: python3.9
default_stages: [ commit, push ]
files: ''
exclude: ^$
fail_fast: false
minimum_pre_commit_version: '0'
repos:
  - repo: local
    hooks:
      - id: pytest-check
        name: pytest-check
        entry: bash -c "export PYTHONPATH='$PWD/venv/bin/python3'"
        language: system
        pass_filenames: true
        types: [ python ]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: check-added-large-files
        types: [ file ]
        args: [ '--maxkb=1000' ]
      - id: check-case-conflict
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: debug-statements
      - id: detect-aws-credentials
        args: [ --allow-missing-credentials ]
      - id: detect-private-key
  #  - repo: https://github.com/pycqa/isort
  #    rev: 5.8.0
  #    hooks:
  #      - id: isort
  #        args: [ ]
  - repo: https://github.com/psf/black
    rev: 22.6.0
    hooks:
      - id: black
        args: [ --safe, --line-length=120 ]
        name: black
        description: "Black: The uncompromising Python code formatter"
        entry: black
        language: python
        minimum_pre_commit_version: 2.9.2
        require_serial: true
        types_or: [ python, pyi ]
      - id: black-jupyter
        args: [ --safe, --line-length=120 ]
        name: black-jupyter
        description:
          "Black: The uncompromising Python code formatter (with Jupyter Notebook support)"
        entry: black
        language: python
        minimum_pre_commit_version: 2.9.2
        require_serial: true
        types_or: [ jupyter ]
        additional_dependencies: [ ".[jupyter]" ]
  - repo: https://github.com/PyCQA/flake8
    rev: 3.9.0
    hooks:
      - id: flake8
        language_version: python3
        additional_dependencies:
          - flake8-tidy-imports
        args: [ --statistics ]
  - repo: https://github.com/myint/autoflake
    rev: 'v1.4'
    hooks:
      - id: autoflake
        args: [ '--in-place', '--remove-all-unused-imports' ]
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.4
    hooks:
      - id: bandit
        args: [ "-r" , "-c", "pyproject.toml" ]
        additional_dependencies: [ "bandit[toml]" ]
  - repo: https://github.com/pryorda/dockerfilelint-precommit-hooks
    rev: v0.1.0
    hooks:
      - id: dockerfilelint
  - repo: https://github.com/zahorniak/pre-commit-circleci.git
    rev: v0.5 # Ensure this is the latest tag, comparing to the Releases tab
    hooks:
      - id: circleci_validate
  - repo: https://github.com/pycqa/pylint
    rev: pylint-2.6.0
    hooks:
      - id: pylint
        args:
          - --rcfile=./.pylintrc
        files: src/
