arabic-reshaper
bandit
coverage
deepdiff
django-admin-charts
django-cors-headers
django-cron
django-crontab
django-debug-permissions
django-elasticsearch-dsl
django-environ
django-filter
django-phonenumber-field
djangorestframework-simplejwt
drf-writable-nested
drf-yasg
graphene-django
gunicorn
html5lib
install
phonenumberslite
pip-autoremove
pip-chill
psycopg2
psycopg2-binary
pyhanko
pylint
pylint-venv
pyopenssl
pypdf3
pytest-django
pytest-xdist
python-bidi
python-dotenv
service-identity
svglib
toml
