coverage==6.4.4
django-cors-headers==3.13.0
django-cron==0.6.0
django-environ==0.9.0
django-filter==22.1
django-phonenumber-field==7.0.0
djangorestframework-simplejwt==5.2.1
drf-writable-nested==0.7.0
drf-yasg==1.21.4
gunicorn==20.1.0
install==1.3.5
phonenumberslite==8.12.56
pip-autoremove==0.10.0
pip-chill==1.0.1
psycopg2==2.9.3
psycopg2-binary==2.9.3
pylint==2.15.3
pylint-venv==2.3.0
pyopenssl==22.1.0
python-dotenv==0.21.0
service-identity==21.1.0
