<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Contract for id: 1</title>
</head>
<style>
  @page {
    size: a5;
    margin: 0.5cm;
  }

  @font-face {
    font-family: "Verdana";
    {#src: url("verdana.ttf");#}
  }



  html {
    font-family: Verdana;
    font-size: 11pt;
  }
</style>
<body>
<div>
  Část A BAZAR A ZASTAVÁRNA V PASÁŽI Křenová 14
  Zákazník: rewrwrwere Občanství: re
  Pohlaví: Žena Místo nar.: w
  Číslo OP: re Bytem: wrw
  Platnost: 01.01.2022
  Zástavní předmět: fd
  Uzavírají dne: 25.09.2022 Splatná dne: 23.10.2022
  Půjčka: 44,- Kč
  K vyplacení: 55,- Kč
</div>
<div>
  Zákazník prohlašuje, že:
  - zastavený předmět je jeho výlučným majetkem a že na něm neváznou cizí práva nebo břemena
  - souhlasí s dohodnutou cenou
  - termín splatnosti byl stanoven dohodou a dle jeho návrhu je neměnný
  - spolu s půjčenou částkou uhradí v den splatnosti poplatek ve výši 2%-10% z vyplacené částky za každý i započatý
  týden za správu a uschování zástavní věci
  - nevyplatí-li pohledávku ve stanoveném termínu, propadá zastavená věc do vlastnictví zastavárny
  - při ztrátě smlouvy zastavárna neodpovídá za vzniklé škody a účtuje poplatek 50,- Kč
  - souhlasí se zavedením svých osobních údajů do databáze
</div>
<div>
  <p>Zastavárna</p>
  <p>Zákazník</p>
</div>
<p>Zástavní sml. č.: 3 Inv. č.: 4</p>

<div>
  BAZAR A ZASTAVÁRNA V PASÁŽI Křenová 14
  Otevírací doba: PO-NE 9:00 - 19:00
  Tel.: Mobil 734 321 906
  Část B
  Zástavní právo zajišťuje pohledávku zastavárny spolu s jejím příslušenstvím vůči zástavci takto:
  Půjčka: 44,- Kč
  Předmět: 3-4
  Datum zastavení: 25.09.2022 Splatná do: 23.10.2022
  od: 25.09.2022
  do: 02.10.2022 kal. dní: 7 cena: 50,- Kč
  do: 09.10.2022 kal. dní: 14 cena: 50,- Kč
  do: 16.10.2022 kal. dní: 21 cena: 50,- Kč
  do: 23.10.2022 kal. dní: 28 cena: 55,- Kč
  Prodloužení možné po dohodě.
  Zákazník prohlašuje, že:
  - zastavený předmět je jeho výlučným majetkem a že na něm neváznou cizí práva nebo břemena
  - souhlasí s dohodnutou cenou
  - termín splatnosti byl stanoven dohodou a dle jeho návrhu je neměnný
  - spolu s půjčenou částkou uhradí v den splatnosti poplatek ve výši 2%-10% z vyplacené částky za každý i započatý
  týden
  za správu a uschování zástavní věci
  - nevyplatí-li pohledávku ve stanoveném termínu, propadá zastavená věc do vlastnictví zastavárny
  - při ztrátě smlouvy zastavárna neodpovídá za vzniklé škody a účtuje poplatek 50,- Kč
  - souhlasí se zavedením svých osobních údajů do databáze
  Zastavárna Zákazník
  <p>Zástavní sml. č.: 3 Inv. č.: 4</p>
</div>
</body>
</html>
